{% extends "layout.html" %}
{% block content %}

<link rel='stylesheet' href={{cdn_css | safe}} type='text/css' />
<script type='text/javascript' src={{cdn_js | safe}}> </script>

<div class="charts">
    <h1>Charts Page</h1>
    <p>Please see charts below.</p>
	<p>To refresh charts with new data, click on "Show P/L" link in navigation banner. Then come back to this page.</p>
	<p>Note: Going back to "Show P/L" will refresh the forecasting models, which will take 1-5 minutes to run and update.</p>
	<p>Use tools on right-hand side of charts to zoom in.</p>
</div>
{{script_cash | safe}}
{{div_cash | safe}}
<br />
{{script_pnl | safe}}
{{div_pnl | safe}}
<br />
{{script_vwap | safe}}
{{div_vwap | safe}}
<br />
{{script_ep | safe}}
{{div_ep | safe}}
{% endblock %}
