{% extends "layout.html" %}
{% block content %}
<div class="trade">
    <h1>Select a crypto</h1>
	<form action="{{url_for('confirmation')}}", method="POST">
	
		<select name="crypto">
			<option value="BTC-USD">BTC-USD</option>
			<option value="BTC-EUR">BTC-EUR</option>
			<option value="ETH-USD">ETH-USD</option>
			<option value="ETH-EUR">ETH-EUR</option>
		</select>
		<br />
 
		<select name="buy_sell">
			<option value="buy">Buy</option>
			<option value="sell">Sell</option>
		</select>
		<br />
 
		<input name="amt", type="number", value="0.0", step="0.01", min="0" required> 
		<br />
		
		<button type="submit"> Submit </button>
		
	</form>
</div>
{% endblock %}
